<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="APK_Penjadwalan_Matakuliah_TRPL_OOP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <APK_Penjadwalan_Matakuliah_TRPL_OOP.My.MySettings>
            <setting name="DbConnectionString" serializeAs="String">
                <value>server=localhost;user id=root;password=;database=db_penjadwalan_24021;port=3310</value>
            </setting>
        </APK_Penjadwalan_Matakuliah_TRPL_OOP.My.MySettings>
    </applicationSettings>
</configuration>